<!DOCTYPE html>
<html>
    <head>
        <title>This is the Todo list</title>
    </head>
    <body>
        {{>header}}

        <h1>This is my index file</h1>

        {{>footer}}
    </body>
</html>